<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mevia.prefs" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>applicationPreferences</name>
	<js-module name="applicationPreferences" src="www/applicationPreferences.js">
		<clobbers target="cordova.plugins.applicationPreferences" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="applicationPreferences">
				<param name="ios-package" value="applicationPreferences" />
			</feature>
		</config-file><source-file src="src/ios/applicationPreferences.m" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="applicationPreferences">
				<param name="android-package" value="com.mevia.prefs.applicationPreferences" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/applicationPreferences.java" target-dir="src/com/mevia/prefs/applicationPreferences" />
	</platform>
</plugin>